#createPlanBranchHeader {
	margin-top: 50px;
}

.createPlanBranchList {
	margin-top: 5px;
	margin-bottom: 10px;
}

#hideNeverExecuted, #hideUnknown, #hideSuccessful {
    margin-left: 5px;
    position: relative;
    top: 4px;
}

#selectBranchSpan {
	margin-right: 5px;
}
